.name {
    font-size: calc(.9rem + .7vw);
  }

.title {
  font-size: calc(.9rem + .3vw);
}

.title-lg {
  font-size: calc(1.1rem + .9vw);
}

.price {
  font-size: calc(.6rem + .4vw);
}

.discount-lg {
  font-size: calc(.6rem + .4vw);
}

.discount {
  font-size: calc(.6rem + .2vw);
}
